<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.neteye.xinzhizhu.dao.AdInfoDao">

	<select id="get" resultType="com.neteye.xinzhizhu.domain.AdInfoDO">
		select a.`id`,a.`ad_position_id`,a.`media_type`,a.`name`,a.`link`,a.`image_url`,a.`content`,a.`end_time`,a.`enabled`,	d.name as ad_position_name,d.width as width ,d.height as height  
		from ad_info a,ad_position d 
		where a.id = #{value} 
		and a.ad_position_id = d.id
		and a.end_time >= now()
	</select>

	<select id="list" resultType="com.neteye.xinzhizhu.domain.AdInfoDO">
		select a.`id`,a.`ad_position_id`,a.`media_type`,a.`name`,a.`link`,a.`image_url`,a.`content`,a.`end_time`,a.`enabled`,d.name as ad_position_name,d.width as width ,d.height as height  
		from ad_info a,ad_position d 
        <where>  
         a.ad_position_id = d.id 
         and a.end_time >= now() 
		  		  <if test="id != null and id != ''"> and a.id = #{id} </if>
		  		  <if test="adPositionId != null and adPositionId != ''"> and a.ad_position_id = #{adPositionId} </if>
		  		  <if test="mediaType != null and mediaType != ''"> and a.media_type = #{mediaType} </if>
		  		  <if test="name != null and name != ''"> and a.name = #{name} </if>
		  		  <if test="link != null and link != ''"> and a.link = #{link} </if>
		  		  <if test="imageUrl != null and imageUrl != ''"> and a.image_url = #{imageUrl} </if>
		  		  <if test="content != null and content != ''"> and a.content = #{content} </if>
		  		  <if test="endTime != null and endTime != ''"> and a.end_time = #{endTime} </if>
		  		  <if test="enabled != null and enabled != ''"> and a.enabled = #{enabled} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by a.id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from ad_info
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="adPositionId != null and adPositionId != ''"> and ad_position_id = #{adPositionId} </if>
		  		  <if test="mediaType != null and mediaType != ''"> and media_type = #{mediaType} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="link != null and link != ''"> and link = #{link} </if>
		  		  <if test="imageUrl != null and imageUrl != ''"> and image_url = #{imageUrl} </if>
		  		  <if test="content != null and content != ''"> and content = #{content} </if>
		  		  <if test="endTime != null and endTime != ''"> and end_time = #{endTime} </if>
		  		  <if test="enabled != null and enabled != ''"> and enabled = #{enabled} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.neteye.xinzhizhu.domain.AdInfoDO" useGeneratedKeys="true" keyProperty="id">
		insert into ad_info
		(
			`ad_position_id`, 
			`media_type`, 
			`name`, 
			`link`, 
			`image_url`, 
			`content`, 
			`end_time`, 
			`enabled`
		)
		values
		(
			#{adPositionId}, 
			#{mediaType}, 
			#{name}, 
			#{link}, 
			#{imageUrl}, 
			#{content}, 
			#{endTime}, 
			#{enabled}
		)
	</insert>
	 
	<update id="update" parameterType="com.neteye.xinzhizhu.domain.AdInfoDO">
		update ad_info 
		<set>
			<if test="adPositionId != null">`ad_position_id` = #{adPositionId}, </if>
			<if test="mediaType != null">`media_type` = #{mediaType}, </if>
			<if test="name != null">`name` = #{name}, </if>
			<if test="link != null">`link` = #{link}, </if>
			<if test="imageUrl != null">`image_url` = #{imageUrl}, </if>
			<if test="content != null">`content` = #{content}, </if>
			<if test="endTime != null">`end_time` = #{endTime}, </if>
			<if test="enabled != null">`enabled` = #{enabled}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from ad_info where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from ad_info where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>