<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.neteye.xinzhizhu.dao.FmsDao">

	<select id="get" resultType="com.neteye.xinzhizhu.domain.FmsDO">
		select `fm_id`,`fm_title`,`content`,`author`,`course_id`,`fm_time`,`file_url`,`image_url`,`read_count`,`collect_count`,`comment_count`,`creat_time`,`status` from sys_fms where fm_id = #{value}
	</select>

	<select id="list" resultType="com.neteye.xinzhizhu.domain.FmsDO">
		select a.fm_id,a.fm_title,a.content,a.author,a.course_id,b.category_name as categoryName,a.fm_time,a.file_url,a.`image_url`,a.read_count,a.collect_count,a.comment_count,a.creat_time,a.status  from sys_fms a,sys_category b
        <where>  
       		 a.course_id = b.category_id and b.category_type = 2 and a.status=1
		  		  <if test="fmId != null and fmId != ''"> and a.fm_id = #{fmId} </if>
		  		  <if test="fmTitle != null and fmTitle != ''"> and a.fm_title like '%${fmTitle}%' </if>
		  		  <if test="content != null and content != ''"> and a.content = #{content} </if>
		  		  <if test="author != null and author != ''"> and a.author = #{author} </if>
		  		  <if test="courseId != null and courseId != ''"> and a.course_id = #{courseId} </if>
		  		  <if test="fmTime != null and fmTime != ''"> and a.fm_time = #{fmTime} </if>
		  		  <if test="fileUrl != null and fileUrl != ''"> and a.file_url = #{fileUrl} </if>
		  		  <if test="readCount != null and readCount != ''"> and a.read_count = #{readCount} </if>
		  		  <if test="collectCount != null and collectCount != ''"> and a.collect_count = #{collectCount} </if>
		  		  <if test="commentCount != null and commentCount != ''"> and a.comment_count = #{commentCount} </if>
		  		  <if test="creatTime != null and creatTime != ''"> and a.creat_time = #{creatTime} </if>
		  		  <if test="status != null and status != ''"> and a.status = #{status} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by fm_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from sys_fms
		 <where>  
		  		  <if test="fmId != null and fmId != ''"> and fm_id = #{fmId} </if>
		  		  <if test="fmTitle != null and fmTitle != ''"> and fm_title = #{fmTitle} </if>
		  		  <if test="content != null and content != ''"> and content = #{content} </if>
		  		  <if test="author != null and author != ''"> and author = #{author} </if>
		  		  <if test="courseId != null and courseId != ''"> and course_id = #{courseId} </if>
		  		  <if test="fmTime != null and fmTime != ''"> and fm_time = #{fmTime} </if>
		  		  <if test="fileUrl != null and fileUrl != ''"> and file_url = #{fileUrl} </if>
		  		  <if test="readCount != null and readCount != ''"> and read_count = #{readCount} </if>
		  		  <if test="collectCount != null and collectCount != ''"> and collect_count = #{collectCount} </if>
		  		  <if test="commentCount != null and commentCount != ''"> and comment_count = #{commentCount} </if>
		  		  <if test="creatTime != null and creatTime != ''"> and creat_time = #{creatTime} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.neteye.xinzhizhu.domain.FmsDO" useGeneratedKeys="true" keyProperty="fmId">
		insert into sys_fms
		(
			`fm_title`, 
			`content`, 
			`author`, 
			`course_id`, 
			`fm_time`, 
			`file_url`,
			`image_url`, 
			`read_count`, 
			`collect_count`, 
			`comment_count`, 
			`creat_time`, 
			`status`
		)
		values
		(
			#{fmTitle}, 
			#{content}, 
			#{author}, 
			#{courseId}, 
			#{fmTime}, 
			#{fileUrl}, 
			#{imageUrl},
			#{readCount}, 
			#{collectCount}, 
			#{commentCount}, 
			#{creatTime}, 
			#{status}
		)
	</insert>
	 
	<update id="update" parameterType="com.neteye.xinzhizhu.domain.FmsDO">
		update sys_fms 
		<set>
			<if test="fmTitle != null">`fm_title` = #{fmTitle}, </if>
			<if test="content != null">`content` = #{content}, </if>
			<if test="author != null">`author` = #{author}, </if>
			<if test="courseId != null">`course_id` = #{courseId}, </if>
			<if test="fmTime != null">`fm_time` = #{fmTime}, </if>
			<if test="fileUrl != null">`file_url` = #{fileUrl}, </if>
			<if test="imageUrl != null">`image_url` = #{imageUrl}, </if>
			<if test="readCount != null">`read_count` = #{readCount}, </if>
			<if test="collectCount != null">`collect_count` = #{collectCount}, </if>
			<if test="commentCount != null">`comment_count` = #{commentCount}, </if>
			<if test="creatTime != null">`creat_time` = #{creatTime}, </if>
			<if test="status != null">`status` = #{status}</if>
		</set>
		where fm_id = #{fmId}
	</update>
	
	<delete id="remove">
		delete from sys_fms where fm_id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from sys_fms where fm_id in 
		<foreach item="fmId" collection="array" open="(" separator="," close=")">
			#{fmId}
		</foreach>
	</delete>

	<update id="updateplus" parameterType="com.neteye.xinzhizhu.domain.FmsDO">
		update sys_fms 
		<set>
			<if test="readCount != null">`read_count` =`read_count` +  #{readCount}, </if>
			<if test="collectCount != null">`collect_count` = `collect_count` + #{collectCount}, </if>
			<if test="commentCount != null">`comment_count` = `comment_count` + #{commentCount}, </if>
		</set>
		where fm_id = #{fmId}
	</update>
</mapper>