<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
							<div class="form-group">	
								<label class="col-sm-3 control-label">公司名称：</label>
								<div class="col-sm-8">
									<input id="companyName" name="companyName" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">公司类型：</label>
								<div class="col-sm-8">
									<select data-placeholder="选择公司类型" class="form-control chosen-select" id="type" name="type"
										tabindex="2" style="width: 100%">
										<option value="">请选择</option>
									<option value="1">体检机构</option>
									<option value="2">体检用户企业</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/health/company/add.js">
	</script>
</body>
</html>
