<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
							<div class="form-group">	
								<label class="col-sm-3 control-label">订单序列号：</label>
								<div class="col-sm-8">
									<input id="orderSn" name="orderSn" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">会员Id：</label>
								<div class="col-sm-8">
									<input id="userId" name="userId" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">订单状态：</label>
								<div class="col-sm-8">
									<input id="orderStatus" name="orderStatus" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">付费类型：1、企业付费；2、个人付费：</label>
								<div class="col-sm-8">
									<input id="payType" name="payType" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">付款状态 支付状态;0未付款;1付款中;2已付款;4退款：</label>
								<div class="col-sm-8">
									<input id="payStatus" name="payStatus" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">手机：</label>
								<div class="col-sm-8">
									<input id="mobile" name="mobile" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">补充说明：</label>
								<div class="col-sm-8">
									<input id="postscript" name="postscript" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">付款ID：</label>
								<div class="col-sm-8">
									<input id="payId" name="payId" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">商品id：</label>
								<div class="col-sm-8">
									<input id="goodId" name="goodId" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">商品名称：</label>
								<div class="col-sm-8">
									<input id="goodName" name="goodName" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">订单总价：</label>
								<div class="col-sm-8">
									<input id="orderPrice" name="orderPrice" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">商品总价：</label>
								<div class="col-sm-8">
									<input id="goodsPrice" name="goodsPrice" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">：</label>
								<div class="col-sm-8">
									<input id="addTime" name="addTime" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">：</label>
								<div class="col-sm-8">
									<input id="confirmTime" name="confirmTime" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">：</label>
								<div class="col-sm-8">
									<input id="payTime" name="payTime" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">：</label>
								<div class="col-sm-8">
									<input id="orderType" name="orderType" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">预约时间：</label>
								<div class="col-sm-8">
									<input id="bookingDate" name="bookingDate" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">预约体检机构：</label>
								<div class="col-sm-8">
									<input id="bookingDepart" name="bookingDepart" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/health/orders/add.js">
	</script>
</body>
</html>
