<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<div class="columns pull-left">
							<button shiro:hasPermission="health:orders:add" type="button" class="btn  btn-primary" onclick="add()">
								<i class="fa fa-plus" aria-hidden="true"></i>添加
							</button>
							<button shiro:hasPermission="health:orders:batchRemove" type="button" class="btn  btn-danger"
								onclick="batchRemove()">
								<i class="fa fa-trash" aria-hidden="true"></i>删除
							</button>
							
							
						</div>
						<div class="columns pull-right">
							<button class="btn btn-success" onclick="reLoad()">查询</button>
							<button class="btn btn-success" onclick="reLoad()">下载</button>
						</div>
						<div class="columns pull-right  nopadding">
							<input id="searchName" type="text" class="form-control"
								 placeholder="请输入手机号码" >
						</div>
						
						<div class="columns pull-right  nopadding">
									<select class="form-control" name="confirmStatus" id="confirmStatus">  
									    <option value=''>--请选择预约受理状态--</option>                                                           
										<option value='0'>未受理</option>
										<option value='1'>已经受理</option>
									</select>
						</div>
						<div class="columns pull-right  nopadding">
							<button class="btn btn-info">预约受理状态</button>
						</div>
						<div class="columns pull-right  nopadding">
									<select class="form-control" name="bookingStatus" id="bookingStatus">  
									    <option value=''>--请选择预约状态--</option>                                                           
										<option value='0'>未预约</option>
										<option value='1'>已经预约</option>
									</select>
						</div>
						<div class="columns pull-right  nopadding">
							<button class="btn btn-info">预约状态</button>
						</div>
						<div class="columns pull-right  nopadding">
									<select class="form-control" name="payStatus" id="payStatus">  
									    <option value=''>--请选择付费状态--</option>                                                           
										<option value='0'>未付款</option>
										<option value='1'>付款中</option>
										<option value='2'>已付款</option>
									</select>
						</div>
						<div class="columns pull-right  nopadding">
							<button class="btn btn-info">付费状态</button>
						</div>
						<div class="columns pull-right  nopadding">
									<select class="form-control" name="payType" id="payType">  
									    <option value=''>--请选择付费类型--</option>                                                           
										<option value='1'>企业付费</option>
										<option value='2'>个人付费</option>
									</select>
						</div>
						<div class="columns pull-right  nopadding">
							<button class="btn btn-info">付费类型</button>
						</div>
					</div>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_resetPwd_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="health:orders:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="health:orders:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
		<div shiro:hasPermission="health:orders:resetPwd">
			<script type="text/javascript">
				var s_resetPwd_h = '';
			</script>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/health/orders/orders.js"></script>
</body>
</html>