<!DOCTYPE html>
<html>
<meta charset="utf-8">
<link href="/css/layui.css" rel="stylesheet">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
					<div class="col-sm-12">
							<h4>发布文章</h4>
						</div>
						<form class="form-horizontal m-t" id="signupForm">
						<input id="article_id" name="articleId" th:value="${articles.articleId}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">标题：</label>
								<div class="col-sm-8">
									<input id="articleTitle" name="articleTitle" th:value="${articles.articleTitle}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">文章分类：</label>
								<div class="col-sm-8">
								<select class="form-control" name="categoryId" id="categoryId">                                                             
									<option>请选择分类</option> 
									<option  th:each="entries,stat:${categoryList}" th:value="${entries['categoryId']}"  th:selected="${entries['categoryId']  eq articles.categoryId}" th:text="${entries['categoryName']}"></option>
								</select>
								</div>
							</div>
							<div class="form-group">
								<input id="content" name="content" type="hidden"
									th:value="${articles.content}"> <label
									class="col-sm-1 control-label">内容：</label>
								<div class="col-sm-11">
									<div class="ibox-content no-padding">
										<div id="content_sn" class="summernote"></div>
									</div>
								</div>
							</div>
							<div class="form-group">
								   <label class="col-sm-3 control-label">	
								       <button type="button" class="layui-btn" id="test1">
	                            		<i class="fa fa-cloud"></i>上传图片
	                        			</button>
                       			   </label>
									<input id="imageUrl" name="imageUrl" class="form-control" th:value="${articles.imageUrl}" type="text" style="width:1px">
									<div class="image"><img id="imageurlshow"  class="img-responsive" th:src="@{${articles.imageUrl}}" ></div>
									
							</div>
							<div class="text-right form-group">
							<button type="submit" class="btn btn-primary">提交</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="include::footer"></div>
    <script src="/js/layui.js"></script>
	<script type="text/javascript" src="/js/appjs/xinzhizhu/articles/edit.js">		
	</script>
	<script type="text/javascript">
	    layui.use('upload', function () {
	        var upload = layui.upload;
	        //执行实例
	        var uploadInst = upload.render({
	            elem: '#test1', //绑定元素
	            url: '/common/sysFile/upload', //上传接口
	            size: 1000,
	            accept: 'file',
	            done: function (r) {
	                layer.msg(r.message);
	                $("#imageUrl").val(r.fileName);
	                $("#imageurlshow").attr("src",r.fileName);
	            },
	            error: function (r) {
	                layer.msg(r.message);
	            }
	        });
	    });
	</script>
</body>
</html>
